@import "../../variables";

.trainers-top-container {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("trainersImg.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondColor;
  padding: 0 50px;
  h1 {
    width: 100%;
    font-size: 2.5rem;
    font-family: $titleFont;
    letter-spacing: 1px;
    text-align: center;
  }
  @media screen and (max-width: 538px) {
    h1 {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 538px) {
    h1 {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 359px) {
    h1 {
      font-size: 1.2rem;
    }
  }
}
