$mainColor: #212221;
$secondColor: #ddedf4;
$textSecondColor: #b7c4ca;
$contrastColor: #c72c2c;
$secondContrastColor: #8d2323;
$phoneNavColor: #464646;

$logoFont: "Trade Winds", cursive;
$titleFont: "Roboto", sans-serif;
$normalFont: "Montserrat", sans-serif;
